body {
    background-image: url("memebg.jpg");
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,
    #002f4b,
    #dc4225);
    opacity: .8;
}

.login {
    border-radius: 5px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 3px 15px black;
}

.login .btn-primary {
    background-color: #dc4225;
    border: none;
}

@media (min-width: 768px) {
    .login {
        margin-top: 200px;
    }
.alert-primary {
    color: white;
    font-weight: bold;
    background-color: #950658;
    border-color: white;
    opacity: 0.82;
}

}