.begintekst{
    color: black;
    font-weight: 500;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    background-color: #2f8f67;
}
.ondertekst{
    color: black;
    font-weight: 500;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    background-color: white;
    ;
}