<!DOCTYPE html>
<HTML>
    <link rel="stylesheet" type="text/css" href=static/styles.css>
<HEAD>
    <TITLE>Memestagram</TITLE>
</HEAD>
<BODY>

<center>
    <div class="begintekst">
    <H1>Index</H1 class>
    <H3><I>In memestagram it’s all aboutmemes and only about memes. Do you like memes? Join us directly</I></H3>
    </div>
<p class="ondertekst"> test </p>
<a href="register.html">Register</a>
    </center>
<HR>
    <p align= 'right'>For partner up, Mail to: <a href="mailto:tomskilogt@gmail"> tomskilogt@gmail.com</a>. </p>
</BODY>
</HTML>