<!DOCTYPE html>
<HTML>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<HEAD>
    <TITLE>Memestagram</TITLE>
    <link rel="stylesheet" type="text/css" href="styles.css">
</HEAD>

<BODY BGCOLOR="ffffff">

<CENTER>
    <div class="begintekst">
    <H1>Index</H1 class>
    <H3><I>Memestagram, de site voor memes</I></H3>
    </div>
</CENTER>
<P class="ondertekst">
    <a href="https://www.beslist.nl/products/elektronica/elek_mobiele_telefoons/?utm_medium=paid-search&utm_source=google-adwords&utm_campaign=beslist.nl_elektronica%7CMobiele_telefoons_vergelijk_smartphones_broad&utm_term=vergelijk%20smartphones%7C43700022594628317%7Cb&utm_content=1t3&device=c&network=g&gclsrc=aw.ds">Prijsvergelijker</a>


<HR>
    <p align= 'right'>Voor vragen, stuur een mailtje naar: <a href="mailto:voorbeeld@voorbeeld.com"> voorbeeld@voorbeeld.com</a>. </p>
</BODY>
</HTML>