<!DOCTYPE html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="doc/favicon.ico" type="image/x-icon">
  <link rel="icon" href="doc/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/generalstyles.css">
  <link rel="stylesheet" href="../static/w3.css">
</head>
<body>
<main class="main">
<aside class="sidebar">
    <nav class="nav">
      <ul>
        <li><h3>Welcome memelord, {{session.username}}</h3></li>
        <li>
        <a href="/feed"><i class="fa fa-home"></i>All memes</a>
        </li>
        <li class="active">
        <a href="/personalfeed"><i class="fa fa-users"></i>Personal feed</a>
        </li>
        <li>
        <a href="/search"><i class="fa fa-search"></i>Search</a>
        </li>
        <li>
        <a href="/post"><i class="fa fa-upload"></i>Upload</a>
        </li>
        <li>
        <a href="/savedmemes"><i class="fa fa-download"></i>Saved Memes</a>
        </li>
        <li>
        <a href="/account"><i class="fa fa-user"></i>My account</a>
        </li>
        <li>
        <a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </nav>
  </aside>
</main>
<center>
<section class="twitter">
<div class="w3-container">
{% for meme in memes %}
  <div class="w3-card-4 w3-pale-red" style="width:45%">
    <div class="w3-container w3-center">
      <h4 style="color: black; font-weight: bold">Uploaded by: {{ meme.username }}</h4>
      <iframe src="{{ meme.url }}" width="480" height="311" frameBorder="0" class="giphy-embed"></iframe>
      <div class="w3-section">
      	<form action="/savememe" method="post">
        <button type="submit" name="meme_id" value="{{ meme.id }}" class="w3-button w3-black">Save meme</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</section>
</center>
</main>
</body>
</html>