<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webikapp - register</title>
    <!-- For all devices except apple-->
    <link rel = "icon" type = "image/png" href = "/project/static/memebg.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/project/static/register.css">

         <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="static/favicon.ico" rel="icon">

        <link href="static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="col-sm-12 offset-md-4 col-md-4 register">
        <h1>Register</h1>
        <form action="/register" method ="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="username" aria-describedby="usernamehelp">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="password2">Verify password</label>
                <input type="password" class="form-control" id="confirmation">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            <br>
            <a href="/WEBIKAPP/templates/login.html"><small class="">Already have an account? Sign in!</small></a>
        </form>
    </div>
</div>
</body>
</html>
