<!DOCTYPE html>
<HTML>
<head>
  <title>Saved Memes</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="doc/favicon.ico" type="image/x-icon">
  <link rel="icon" href="doc/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/generalstyles.css">
  <link rel="stylesheet" href="../static/w3.css">
</head>
<body id = "bdy">
<main class="main">
<aside class="sidebar">
    <nav class="nav">
      <ul>
        <li><h3>Welcome memelord, {{session.username}}</h3></li>
        <li>
        <a href="/feed"><i class="fa fa-home"></i>All memes</a>
        </li>
        <li>
        <a href="/personalfeed"><i class="fa fa-users"></i>Personal feed</a>
        </li>
        <li>
        <a href="/search"><i class="fa fa-search"></i>Search</a>
        </li>
        <li>
        <a href="/post"><i class="fa fa-upload"></i>Upload</a>
        </li>
        <li class="active">
        <a href="/savedmemes"><i class="fa fa-download"></i>Saved Memes</a>
        </li>
        <li>
        <a href="/account"><i class="fa fa-user"></i>My account</a>
        </li>
        <li>
        <a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </nav>
  </aside>
</main>
<center>
{% for meme in memes %}
  <div>
    <B>{{ meme.username }}</B>
    <iframe src="{{ meme.url }}" width="480" height="311" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
{% endfor %}
</center>
</body>
</html>