<!DOCTYPE html>
<HTML>
<head>
  <title>Saved Memes</title>
  <link rel="stylesheet" type="text/css" href="/static/savedmemes.css">
  <link rel="shortcut icon" href="/doc/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body id = "bdy">
<main class="main">
<aside class="sidebar">
    <nav class="nav">
      <ul>
        <li><a href="/feed">Feed</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/indexupload">Upload local file</a></li>
        <li><a href="/post">Upload from Giphy</a></li>
        <li><a href="/account">Account</a></li>
        <li  class="active"><a href="/savedmemes">Saved Memes</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </aside>
</main>
</body>
</html>