<!DOCTYPE html>
<HTML>
<head>
  <title>Search</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/generalstyles.css">
  <link rel="stylesheet" href="../static/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  input[type=text] {
  width: 130px;
  border: 2px solid #de82ff;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 50%;
}
</style>
</head>
<body id = "bdy">
<main class="main">
<aside class="sidebar">
    <nav class="nav">
      <ul>
        <li><h3>Welcome memelord, {{session.username}}</h3></li>
        <li>
        <a href="/feed"><i class="fa fa-home"></i>All memes</a>
        </li>
        <li>
        <a href="/personalfeed"><i class="fa fa-users"></i>Personal feed</a>
        </li>
        <li class="active">
        <a href="/search"><i class="fa fa-search"></i>Search</a>
        </li>
        <li>
        <a href="/post"><i class="fa fa-upload"></i>Upload</a>
        </li>
        <li>
        <a href="/savedmemes"><i class="fa fa-download"></i>Saved Memes</a>
        </li>
        <li>
        <a href="/account"><i class="fa fa-user"></i>My account</a>
        </li>
        <li>
        <a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </nav>
  </aside>
</main>
<center>
<section id="twitter">
<form action="/search" method ="POST">
  <input type="text" name="search" placeholder="Search">
</form>
</center>
</body>
</html>