<!DOCTYPE html>
<HTML>
<head>
    <TITLE>Search</TITLE>
    <link rel="stylesheet" type="text/css" href="/static/search.css">
    <link rel="shortcut icon" href="/doc/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body id = "bdy">
<main class="main">
<aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a href="/feed">Feed</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/post">Upload</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/savedmemes">Saved Memes</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </aside>
</main>
<center>
<form action="/search" method="GET">

        <div class="form-group">
            <label for="search">Search Users</label>
            <input id="search" type="search" class="form-control" name="search">
        </div>
        <button type="button" id="search" class="btn btn-primary">Search</button>
    </form>
</center>
</body>
</html>