<!DOCTYPE html>
<html>
<head>
  <title>Searchresults</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/feed.css">
</head>
<body>
<main class="main">
<aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a href="/feed">Feed</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/post">Upload</a></li>
        <li><a href="/indexupload">Upload local file</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/savedmemes">Saved Memes</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </aside>
</main>
<center>
{% for result in results %}
        <iframe src="{{ result.embed_url }}" width="480" height="311" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <form action="/postmeme" method="post">
            <button type="submit" name="embed_url" value="{{ result.embed_url }}">Post meme</button>
        </form>
{% endfor %}
</center>
</body>
</html>