<!DOCTYPE html>
<HTML>
<head>
    <TITLE>Search</TITLE>
    <link rel="stylesheet" type="text/css" href="/static/search.css">
    <link rel="shortcut icon" href="/doc/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body id = "bdy">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<center>
<div class="icon-bar">
  <a class="active" href="feed"><i class="fa fa-home fa-2x"></i></a>
  <a href="search"><i class="fa fa-search fa-2x"></i></a>
  <a href="post"><i class="fa fa-envelope fa-2x"></i></a>
  <a href="account"><i class="fa fa-id-card-o fa-2x"></i></a>
  <a href="savedmemes"><i class="fa fa-bookmark-o fa-2x"></i></a>
</div>
<form action="/post" method="POST">
        <div class="form-group">
            <label for="search">Search memes</label>
            <input id="search" type="search" class="form-control" name="search">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</center>
</body>
</html>